/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-light);
  padding: 10px 30px;
  width: 100%;
  height: 70px;

  .header-left {
    img {
      height: 100%;
    }
  }

  .header-right {
    display: flex;
    justify-content: flex-end;

    .user-status {
      display: flex;
      align-items: center;
      text-align: right;
      gap: 0.5em;
      color: var(--color-white);
      text-decoration: none;

      p {
        margin: 0;
      }

      .icon-header {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: var(--color-secondary-dark);
        border-radius: 50%;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        min-height: 50px;
        max-height: 50px;

        img {
          width: 100%;
          height: 100%;
        }

        p {
          color: var(--color-secondary-light);
          font-family: var(--font-body-bold);
          font-size: 1.5em;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .user-infos {
    display: none;
  }
}

/* MAIN */

.main-container {
  display: flex;
  flex: 1;
  margin-top: 70px;
}

/* NAVIGATION */

.navigation {
  position: fixed;
  top: 70px;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  box-sizing: border-box;
  height: calc(100% - 70px);
  width: 250px;
  padding: 20px 20px 20px 30px;

  .navigation-box {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .navigation-link {
    display: flex;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
    gap: 0.5em;

    .navigation-text {
      margin: 0;
    }

    svg {
      fill: var(--color-white);
      height: 17px;
      width: auto;
    }
  }

  .navigation-active,
  .navigation-link:hover {
    font-family: var(--font-body-bold);
    color: var(--color-secondary);

    .navigation-text {
      margin: 0;
    }

    svg {
      fill: var(--color-secondary);
    }
  }
}

@media (max-width: 800px) {
  .navigation-text {
    display: none;
  }

  .navigation {
    width: 80px;
  }
}

/* PAGES */

.pages {
  flex-grow: 1;
  margin-left: 250px;
  min-height: calc(100% - 70px);
}

.page-header {
  display: flex;
  gap: 2em;
  margin-bottom: 20px;
}

.page-title {
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
  padding: 15px 30px 10px 30px;
  border-radius: 10px;

  svg {
    fill: var(--color-primary);
    width: 25px;
    height: auto;
  }
}

.building-pages {
  text-align: center;

  img {
    height: 400px;
  }
}

.page-containt {
  padding: 20px;
}

@media (max-width: 800px) {
  .pages {
    margin-left: 80px;
  }
}

/* FOOTER */

footer {
  font-family: var(--font-body-light);
  text-align: center;
  font-size: 15px;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 14px 0;
  margin-left: 250px;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--color-secondary-light);
    margin: 0;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

@media (max-width: 800px) {
  footer {
    margin-left: 80px;
  }
}
