.container {
  display: flex;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.login-picture {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-light);
  width: 60%;
  height: 100%;

  img {
    max-width: 70%;
    max-height: auto;
  }
}

.login-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 40%;
  padding: 50px;

  .back {
    padding-top: 20px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--color-white);

      svg {
        fill: var(--color-white);
        margin-right: 10px;
        width: 17px;
      }

      &:hover {
        color: var(--color-secondary);

        svg {
          fill: var(--color-secondary);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .login-picture {
    display: none;
  }

  .login-fields {
    width: 100%;
  }
}

/* FOOTER */

footer {
  font-family: var(--font-body-light);
  text-align: center;
  font-size: 15px;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 14px 0;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--color-secondary-light);
    margin: 0;

    &:hover {
      color: var(--color-secondary);
    }
  }
}
