/* FONTS ET COULEURS */

@font-face {
  font-family: "font-title";
  src: url(josefin_sans/static/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "font-body-light";
  src: url(montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "font-body-medium";
  src: url(montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "font-body-bold";
  src: url(montserrat/static/Montserrat-SemiBold.ttf);
}

:root {
  --color-white: #efefef;
  --color-grey-light-1: #d6d6d6;
  --color-grey-light-2: #b8b8b8;
  --color-primary: #1a4543;
  --color-primary-light: #2d7673;
  --color-primary-dark: #0b1e1d;
  --color-secondary: #f1bd6f;
  --color-secondary-light: #f8ddb5;
  --color-secondary-dark: #edaa45;
  --color-black: #222222;
  --color-grey-dark-1: #666666;
  --color-grey-dark-2: #474747;
  --color-success: #037f4c;
  --color-warning: #f48b24;
  --color-error: #e2445c;
  --color-error-dark: #d4213c;
  --color-info: #17a2b8;

  --font-title: "font-title", sans-serif;
  --font-body-light: "font-body-light", sans-serif;
  --font-body-medium: "font-body-medium", sans-serif;
  --font-body-bold: "font-body-bold", sans-serif;
}

/* MAIN */

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-body-medium);
  color: var(--color-black);
  background-color: var(--color-secondary-light);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.no-scrollbar {
  overflow-y: hidden;
}

.full-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  main {
    flex: 1;
    display: flex;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  margin: 0;
}

.background-dark {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* BARRE DE DEFILEMENT */

* {
  &::-webkit-scrollbar {
    width: 13px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-secondary);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-dark);
  }

  .modal-update-content {
    &::-webkit-scrollbar-track {
      border-top-right-radius: 11px;
      border-bottom-right-radius: 11px;
    }

    &::-webkit-scrollbar-thumb {
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
    }
  }
}

/* FORMULAIRES */

form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .field {
    width: 100%;
    margin: auto;

    .field-label {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 10px;

      .info {
        cursor: pointer;
        margin-left: auto;

        &:hover {
          svg {
            fill: var(--color-secondary);
          }
        }
      }

      svg {
        fill: var(--color-white);
        height: 17px;
      }

      .icon-black {
        fill: var(--color-black);
      }
    }

    input,
    select {
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      width: 100%;
      height: 40px;
      padding: 10px;
    }

    textarea {
      font-family: var(--font-body-light);
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      width: 100%;
      padding: 10px;
    }

    .password-input {
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }

    .address-input-box {
      display: flex;
      gap: 0.5em;

      .address-number {
        width: 10%;
        text-align: center;
      }

      .address-street {
        width: 40%;
      }

      .address-zip-code {
        width: 20%;
      }

      .address-city {
        width: 30%;
      }
    }

    .gender-input-box {
      display: flex;
      justify-content: space-between;
      gap: 0.5em;
      background-color: var(--color-white);
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      width: 100%;
      height: 40px;
      padding: 10px;

      .gender-input {
        display: flex;
        align-items: center;
        gap: 0.5em;

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          height: 100%;
          width: auto;
          border-radius: 50%;
          border: 2px solid var(--color-primary);
          outline: none;
          cursor: pointer;
          transform: scale(0.8);
          margin: 0;

          &:checked {
            background-color: var(--color-primary-light);
          }
        }
      }
    }

    .visibility-password {
      position: absolute;
      display: flex;
      align-items: center;
      right: 10px;
      cursor: pointer;
      height: 100%;

      svg {
        fill: var(--color-primary);
        width: 19px;

        &:hover {
          fill: var(--color-primary-light);
        }
      }
    }

    .alert {
      display: flex;
      justify-content: space-between;
      overflow-wrap: break-word;
      color: var(--color-white);
      border-radius: 10px;
      padding: 10px;
      margin-top: 5px;

      p {
        margin: 0;

        span {
          font-family: var(--font-body-bold);
        }
      }

      span {
        svg {
          fill: var(--color-white);
          cursor: pointer;
          width: 17px;
          min-width: 17px;
          height: 17px;
        }
      }
    }

    .alert-error {
      background-color: var(--color-error);
    }

    .alert-warning {
      background-color: var(--color-warning);
    }

    .alert-info {
      background-color: var(--color-info);
    }

    .alert-success {
      background-color: var(--color-success);
    }

    .password-strength-box {
      p {
        font-size: 12px;
        margin-bottom: 5px;

        span {
          font-family: var(--font-body-bold);
        }

        .password-empty {
          color: var(--color-error);
        }

        .password-insufficient {
          color: var(--color-error);
        }

        .password-acceptable {
          color: var(--color-warning);
        }

        .password-strong {
          color: var(--color-success);
        }

        .password-stronger {
          color: var(--color-success);
        }
      }

      .password-progressbar {
        box-sizing: border-box;
        background-color: var(--color-grey-light-2);
        border-radius: 5px;
        height: 15px;
        width: 100%;
        padding: 2px;

        .password-strength {
          height: 100%;
          border-radius: 4px;
          transition: width 0.6s ease;
        }

        .password-empty {
          background-color: var(--color-error);
          width: 15px;
        }

        .password-insufficient {
          background-color: var(--color-error);
          width: 25%;
        }

        .password-acceptable {
          background-color: var(--color-warning);
          width: 50%;
        }

        .password-strong {
          background-color: var(--color-success);
          width: 75%;
        }

        .password-stronger {
          background-color: var(--color-success);
          width: 100%;
        }
      }
    }
  }

  .forgotten-pwd {
    text-align: right;
    margin-top: 5px;

    a {
      font-size: 12px;
      color: var(--color-white);
      text-decoration: none;

      &:hover {
        color: var(--color-secondary);
      }
    }
  }
}

/* BOUTONS */

.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-family: var(--font-body-bold);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 0;

  svg {
    height: 100%;
  }
}

.button-primary {
  color: var(--color-white);
  background-color: var(--color-primary-light);

  svg {
    fill: var(--color-white);
  }

  &:hover {
    background-color: var(--color-primary);
  }
}

.button-primary-dark {
  color: var(--color-white);
  background-color: var(--color-primary);

  svg {
    fill: var(--color-white);
  }

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.button-secondary {
  color: var(--color-black);
  background-color: var(--color-secondary);

  svg {
    fill: var(--color-black);
  }

  &:hover {
    background-color: var(--color-secondary-dark);
  }
}

.button-gray {
  color: var(--color-white);
  background-color: var(--color-grey-dark-1);

  svg {
    fill: var(--color-white);
  }

  &:hover {
    background-color: var(--color-grey-dark-2);
  }
}

.button-red {
  color: var(--color-white);
  background-color: var(--color-error);

  svg {
    fill: var(--color-white);
  }

  &:hover {
    background-color: var(--color-error-dark);
  }
}

.button-disable {
  color: var(--color-white);
  background-color: var(--color-grey-dark-1);
  cursor: auto;

  svg {
    fill: var(--color-white);
  }
}

/* MODALES MESSAGES */

.modal-message-container {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--color-white);
  position: fixed;
  bottom: 40px;
  right: 40px;
  margin-left: 40px;
  max-width: 500px;
  min-width: 200px;

  .modal-message-box {
    box-sizing: border-box;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;

    .modal-message-header {
      display: flex;
      align-items: center;
      gap: 0.3em;
      width: 100%;

      h4 {
        margin-top: 4px;
      }

      .modal-message-icon {
        fill: var(--color-white);
        height: 17px;
        width: 17px;
        min-width: 17px;
      }

      .modal-message-close {
        fill: var(--color-white);
        cursor: pointer;
        margin-left: auto;
        height: 17px;
        width: 17px;
        min-width: 17px;
      }
    }

    .modal-message {
      margin: 5px 0 0 0;
    }
  }

  .modal-message-success {
    background: var(--color-success);
  }

  .modal-message-info {
    background: var(--color-info);
  }

  .modal-message-warning {
    background: var(--color-warning);
  }

  .modal-message-error {
    background: var(--color-error);
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
}
