
.modal-message-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    z-index: 1000;
    position: fixed;
    bottom: 40px;
    right: 40px;
    margin-left: 40px;
    max-width: 500px;
    min-width: 200px;
    color: var(--color_white);

    .modal-message-box {
        box-sizing: border-box;
        padding: 10px 15px;
        width: 100%;
        border-radius: 5px;

        .modal-message-header {
            display: flex;
            align-items: center;
            gap: .3em;
            width: 100%;

            h4 {
                margin-top: 4px;
            }
            
            .modal-message-icon {
                fill: var(--color_white);
                width: 17px;
                min-width: 17px;
                height: 17px;
            }
            
            .modal-message-close {
                fill: var(--color_white);
                width: 17px;
                min-width: 17px;
                height: 17px;
                cursor: pointer;
                margin-left: auto;
            }
        }

        .modal-message {
            margin: 5px 0 0 0 ;
        }
    }
    
    .modal-message-success {
        background: var(--success-color);
    }
    
    .modal-message-info {
        background: var(--information-color);
    }
    
    .modal-message-warning {
        background: var(--warning-color);
    }
    
    .modal-message-error {
        background: var(--error-color);
    }

    .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
    
}

.modal-container-mail, .modal-container-phone, .modal-container-location, .modal-container-password, .modal-container-add-user, .modal-container-gender, .modal-container-name, .modal-container-status, .modal-container-archive {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #333333d3;
    }
    .modal {
        width: 95%;
        max-width: 500px;
        min-width: 300px;
        background: white;
        border-radius: 15px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: var(--light_primary_color);

        #modal-edit-gender {
            display: flex;
            flex-direction: row;
        }
        
        p {
            margin: 0;
            padding: 12px 0 10px 11px;
            color: var(--color_white);
        }   

        button {
            border-radius: 50%;
            border: none;
            margin: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background-color: var(--color_light_grey_1);

            img {
                position: relative;
                top: 2px;
                left: -0.5px;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        background-color: var(--light_secondary_color);

        label {
            padding: 12px 0 5px 12px;
            vertical-align: middle;

            img {
                width: 3%;
                margin-right: 5px;
            }
        }

        input {
            width: 92%;
            margin: 0 auto;
            padding: 8px;
            border-radius: 10px;
            border: none;
        }

        #add-name, #add-phone-and-gender {
            display: flex;
            flex-direction: row;
            width: 96%;
            margin: 15px auto 0 auto;

            #add-firstname, #add-lastname, #add-phone, #add-gender {
                width: 50%;

                img {
                    width: 6%;
                }

                label {
                    padding-bottom: 5px;
                }
            }

            label {
                padding: 0;
            }

            #add-firstname {
                margin-left: 5px;
            }

            #add-lastname {
                margin-right: 5px;
            }

            #add-phone {
                margin-right: 5px;
            }

            #add-gender {
                margin-left: 5px;

                img {
                    width: 8%;
                }

                #gender {
                    display: flex;
                    flex-direction: row;

                    #feminine-gender, #male-gender {
                        display: flex;
                        flex-direction: row;

                        label {
                            padding: 8px 0;
                            margin-left: 5px;
                            vertical-align: middle;
                        }
                    }

                    #male-gender {
                        margin-left: 15px;
                    }
                }
            }
        }

        .modal-edit-gender {
            display: flex;
            flex-direction: row;
            margin: 20px auto 10px auto;

            #feminine-gender, #male-gender {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
                label {
                    padding: 0 5px;
                }
            }

            #male-gender {
                margin-left: 15px;
            }
        }

        .edit-name {
            margin: 10px auto 0 auto;
            width: 100%;
        }

        .edit-location {
            display: flex;
            width: 95%;
            margin: 0 auto;

            #number {
                width: 20px;
                margin: 0 5px 0 0;
                text-align: center;
            }
            #street {
                width: 140px;
            }
            #zip-code {
                width: 50px;
                margin: 0 5px 0 5px;
            }
            #city {
                width: 105px;
            }
            #country {
                width: 60px;
                margin: 0 0 0 5px;
            }
        }

        #add-status-img {
            width: 4%;
        }

        #add-status {
            width: 95%;
            padding: 8px;
            margin: auto;
            border-radius: 10px;
            border: none;
        }

        #add-user-button {
            height: 40px;
        }

        button {
            background-color: var(--light_primary_color);
            color: var(--color_white);
            width: 95%;
            margin: 10px auto 15px auto;
            padding: 8px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;

            .check-update {
                background-color: var(--color_white);
                width: 0;
                height: 0;
                padding: 8px;
                border-radius: 4px;
                margin: auto 5px auto 0;

                #add-user-check-img {
                    position: relative;
                    top: -12px;
                    left: -4px;
                }
                
                .update-user-check-img {
                    position: relative;
                    top: -6px;
                    left: -4px;
                }
            }
        }
    }
}
.modal-container-mail.active, .modal-container-phone.active, .modal-container-location.active, .modal-container-password.active, .modal-container-add-user.active, .modal-container-gender.active, .modal-container-name.active, .modal-container-status.active, .modal-container-archive.active {
    display: block;
}