/* FONTS ET COULEURS */

@font-face{
    font-family: 'font-title';
    src: url(josefin_sans/static/JosefinSans-Regular.ttf);
}

@font-face{
    font-family: 'font-body-light';
    src: url(montserrat/static/Montserrat-Regular.ttf);
}

@font-face{
    font-family: 'font-body-medium';
    src: url(montserrat/static/Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'font-body-bold';
    src: url(montserrat/static/Montserrat-SemiBold.ttf);
}

:root{
    --color_white: #efefef;
    --color_light_grey_1 : #d6d6d6;
    --color_light_grey_2 : #b8b8b8;
    --primary_color: #1a4543;
    --light_primary_color : #2d7673;
    --dark_primary_color : #0b1e1d;
    --secondary_color: #f1bd6f;
    --light_secondary_color : #f8ddb5;
    --dark_secondary_color : #edaa45;
    --color_black: #222222;
    --color_dark_grey_1: #666666;
    --color_dark_grey_2: #474747;
    --success-color: #037F4C;
    --warning-color: #F48B24;
    --error-color: #E2445C;
    --information-color: #17A2B8;

    --font-title: 'font-title', sans-serif;
    --font-body-light: 'font-body-light', sans-serif;
    --font-body-medium: 'font-body-medium', sans-serif;
    --font-body-bold: 'font-body-bold', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body-light);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-height: 100vh;
    height: 100%;
    color: var(--color_white);
    background-color: var(--light_secondary_color);    
}

main {
    flex: 1; /* Le main prend tout l'espace disponible */;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    color: var(--color_white);
    margin: 0;
}

/*HEADER*/
header {
    background-color: var(--light_primary_color);
    display: flex;

    .header-left{
        width: 50%;
        padding: 10px 0 10px 30px;
        font-size: 30px;
        display: flex;
        align-items: center;
        vertical-align: middle;
        margin: auto;

        img {
            margin: 0;
            width: 25%;
        }
    }

    .header-right{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding: 10px 30px 10px 0px;

        .user-status {
            display: flex;
            align-items: center;
            text-align: right;

            p {
                margin: 0 10px 0 0;

                
            }

            .name {
                font-family: var(--font-body-medium);
            }

            #icon-header {
                background-color: var(--dark_secondary_color);
                border-radius: 50%;
                width: 50px;
                height: 50px;
                overflow: hidden;
                text-align: center;

                img {
                    width: 100%;
                    height: 100%;
                }
                
                p {
                    margin: 0;
                    padding-top: 15px;
                }
            }
        }
    }
}

/*MAIN*/
main {
    display: flex;
}

.navigation {
    background-color: var(--primary_color);
    width: 15%;
    display: flex;
    flex-direction: column;
    
    .list-nav {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
        margin: 0 auto;
    }

    .contact-nav {
        display: flex;
        flex-direction: column-reverse;
        width: 75%;
        margin: 0 auto;
    }

    .link-nav {
        display: flex;
        vertical-align: middle;
    }

    a{
        text-decoration: none;
        color: var(--color_white);
        padding: 20px 0;
        vertical-align: middle;

        img {
            margin-right: 10px;
        }
    }
}

.pages {
    color: var(--color_black);
    width: 85%;
}


/*PAGE404*/
.page404 {
    padding: 20px;
    text-align: center;
    margin: auto;
    color: var(--color_black);
    background-color: var(--light_secondary_color);

    .img {
        width: 90%;
    }

    h2, p {
        margin: 0;
    }

    .link {
        border : 1px solid #f8ddb5;
        background-color: var(--light_primary_color);
        width: 35%;
        margin: 10px auto 0 auto;
        border-radius: 10px;
        padding: 10px 0;

        img {
            margin-right: 10px;
            vertical-align: middle;
        }
        
        a {
            color: #efefef;
            text-decoration: none;
        }
    }
}

/*FOOTER*/
footer {
    background-color: var(--color_black);
    color: var(--color_white);
    text-align: center;
    padding: 14px 0;

    p {
        margin: 0;
        font-size: 15px;
    }

    a {
        margin: 0;
        font-size: 15px;
        color: var(--light_secondary_color);
        text-decoration: none;
    }
}

