.page-404 {
    padding: 20px;
    text-align: center;
    margin: auto;
    color: var(--color-black);
    background-color: var(--color-secondary-light);

    img {
        max-width: 70%;
        max-height: auto;
    }

    h1 {
        color: var(--color-primary);
    }
}