.container {
    display: flex;
    width: 100%;
}

.login-picture {
    width: 60%;
    height: 100%;
    background-color: var(--color-secondary-light);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    img {
        max-width: 70%;
        max-height: auto;
    }
}

.login-fields {
    box-sizing: border-box;
    width: 40%;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

    form {
        .field {
            width: 100%;
            margin: auto;
            padding-top: 20px;

            .field-label {
                display: flex;
                gap: .5em;
                align-items: center;
                margin-bottom: 10px;

                .info {
                    margin-left: auto;
                    cursor: pointer;
                }

                .info:hover {
                    svg {
                        fill: var(--color-secondary);
                    }
                }

                svg {
                    fill: var(--color-white);
                    height: 17px;
                }
            }
            
            input {
                box-sizing: border-box;
                width: 100%;
                height: 40px;
                border-radius: 10px;
                border: none;
                padding: 10px;
            }

            .password-input {
                position: relative;
                display: flex;
                align-items: center;
                box-sizing: border-box;
            }

            .visibility-password {
                position: absolute;
                display: flex;
                align-items: center;
                right: 10px;
                height: 100%;
                cursor: pointer;

                svg {
                    fill: var(--color-primary);
                    width: 19px;
                }

                svg:hover {
                    fill: var(--color-primary-light);
                }
            }

            .alert {
                margin-top: 5px;
                padding: 10px;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                overflow-wrap: break-word;

                p {
                    margin: 0;

                    span {
                        font-family: var(--font-body-bold);
                    }
                }

                span {
                    svg {
                        fill: var(--color-white);
                        width: 17px;
                        min-width: 17px;
                        height: 17px;
                        cursor: pointer;
                    }
                }
            }

            .alert-error {
                background-color: var(--color-error);
            }

            .alert-warning {
                background-color: var(--color-warning);
            }

            .alert-info {
                background-color: var(--color-info);
            }

            .alert-success {
                background-color: var(--color-success);
            }

            .password-strength-box {
                p {
                    font-size: 12px;
                    margin-bottom: 5px;

                    span {
                        font-family: var(--font-body-bold);
                    }

                    .password-empty {
                        color: var(--color-error);
                    }

                    .password-insufficient {
                        color: var(--color-error);
                    }

                    .password-acceptable {
                        color: var(--color-warning);
                    }

                    .password-strong {
                        color: var(--color-success);
                    }

                    .password-stronger {
                        color: var(--color-success);
                    }

                }

                .password-progressbar {
                    height: 15px;
                    width: 100%;
                    background-color: var(--color-grey-light-2);
                    border-radius: 5px;
                    padding: 2px;
                    box-sizing: border-box;

                    .password-strength {
                        height: 100%;
                        border-radius: 4px;
                        transition: width 0.6s ease;
                    }

                    .password-empty {
                        width: 15px;
                        background-color: var(--color-error);
                    }

                    .password-insufficient {
                        width: 25%;
                        background-color: var(--color-error);
                    }

                    .password-acceptable {
                        width: 50%;
                        background-color: var(--color-warning);
                    }

                    .password-strong {
                        width: 75%;
                        background-color: var(--color-success);
                    }

                    .password-stronger {
                        width: 100%;
                        background-color: var(--color-success);
                    }
                }
            }

            button {
                font-family: var(--font-body-bold);
                color: var(--color-black);
                cursor: pointer;
                font-weight: bold;
                width: 100%;
                height: 40px;
                padding: 0;
                border-radius: 10px;
                border: none;
                background-color: var(--color-secondary);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5em;

                svg {
                    fill: var(--color-black);
                    width: 17px;
                }

                &:hover {
                    background-color: var(--color-secondary-dark);
                }
            }
        }

        .forgotten-pwd {
            margin-top: 5px;
            text-align: right;
            a {
                font-size: 12px;
                color: var(--color-white);
                text-decoration: none;
            }

            a:hover {
                color: var(--color-secondary);
            }
        }
    }

    .back {
        padding-top: 20px;
        
        a {
            text-decoration: none;
            color: var(--color-white);
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;
                fill: var(--color-white);
                width: 17px;
            }
        } 

        a:hover {
            color: var(--color-secondary);

            svg {
                fill: var(--color-secondary);
            }
        }
    }
}

@media (max-width: 800px) {
    .login-picture {
        display: none;
    }

    .login-fields {
        width: 100%;
    }
}