/* FONTS ET COULEURS */

@font-face {
  font-family: "font-title";
  src: url(josefin_sans/static/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "font-body-light";
  src: url(montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "font-body-medium";
  src: url(montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "font-body-bold";
  src: url(montserrat/static/Montserrat-SemiBold.ttf);
}

:root {
  --color-white: #efefef;
  --color-grey-light-1: #d6d6d6;
  --color-grey-light-2: #b8b8b8;
  --color-primary: #1a4543;
  --color-primary-light: #2d7673;
  --color-primary-dark: #0b1e1d;
  --color-secondary: #f1bd6f;
  --color-secondary-light: #f8ddb5;
  --color-secondary-dark: #edaa45;
  --color-black: #222222;
  --color-grey-dark-1: #666666;
  --color-grey-dark-2: #474747;
  --color-success: #037f4c;
  --color-warning: #f48b24;
  --color-error: #e2445c;
  --color-info: #17a2b8;

  --font-title: "font-title", sans-serif;
  --font-body-light: "font-body-light", sans-serif;
  --font-body-medium: "font-body-medium", sans-serif;
  --font-body-bold: "font-body-bold", sans-serif;
}

/* MAIN */

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body-light);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  min-height: 100vh;
  height: 100%;
  color: var(--color-white);
  background-color: var(--color-secondary-light);
}

main {
  flex: 1; /* Le main prend tout l'espace disponible */
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--color-white);
  margin: 0;
}

.navigation {
  background-color: var(--color-primary);
  width: 15%;
  display: flex;
  flex-direction: column;

  .list-nav {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: 0 auto;
  }

  .contact-nav {
    display: flex;
    flex-direction: column-reverse;
    width: 75%;
    margin: 0 auto;
  }

  .link-nav {
    display: flex;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    color: var(--color-white);
    padding: 20px 0;
    vertical-align: middle;

    img {
      margin-right: 10px;
    }
  }
}

.pages {
  color: var(--color-black);
  width: 85%;
}

/* FORMULAIRES */

/* BOUTONS */

.button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 0;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-family: var(--font-body-bold);
  text-decoration: none;

  svg {
    width: 17px;
  }
}

.button-primary {
  color: var(--color-white);
  background-color: var(--color-primary);

  svg {
    fill: var(--color-white);
  }

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.button-secondary {
  color: var(--color-black);
  background-color: var(--color-secondary);

  svg {
    fill: var(--color-black);
  }

  &:hover {
    background-color: var(--color-secondary-dark);
  }
}

/*FOOTER*/
footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  padding: 14px 0;
  font-size: 15px;

  p {
    margin: 0;
  }

  a {
    margin: 0;
    color: var(--color-secondary-light);
    text-decoration: none;

    &:hover {
      color: var(--color-primary-light);
    }
  }
}
